body{
    background-color: rgb(255, 255, 255);
    background-image: url("cloudd.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.container
{
    border-radius: 20px;
    height: 20px;
    width: 35px;
    margin-left:210px ;
    margin-top: 40px;
}