body{
    background-color : rgb(22, 178, 87)
}
.container{
    height: 326px;
    width: 400px;
   
    background-color: white;
    margin-left: 485px;
    margin-top: 200px;
    background-color: white;
}
.button1{
    height:50px;
    width :280px;
    color: white;
    background-color: green;
    margin-left: 65px;
    margin-top: 70px;

}
.username{
    
    height:50px;
    width :280px;
    background-color: #F3F3F3;
    margin-left: 65px;
    margin-top: 22px;
    
    border: none;

}
.p{
    margin-left: 70px;
}